* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(175, 175, 175);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    z-index: 1;
}

main {
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 5%;
    border: 0.2rem solid black;
    box-shadow: 0.5rem 0.5rem white, -0.5rem -0.5rem white, 0.5rem -0.5rem white, -0.5rem 0.5rem white, 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    &:hover {
        cursor: pointer;
        border-color: #F39200;
        transform: scale(1.02);
        .popolarity .valStar {
            filter: invert(69%) sepia(42%) saturate(4731%) hue-rotate(1deg) brightness(96%) contrast(104%);
        }
    }
}

.hiddenID {
    display: none;
}

.card__image {
    width: 90%;
    height: 50%;
    overflow: hidden;
    border-radius: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(179, 179, 179);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -30%;
}

.card__description {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.card li {
    list-style: none;
}

.popolarity {
    width: 180px;
    height: 20px;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
}

.popolarity img {
    width: 20px;
    height: 20px;
}

.card-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card_big {
    width: 50vw;
    height: 50vh;
    margin: auto;
    background-color: white;
    position: fixed;
    z-index: 4;
}