@import url('https://fonts.googleapis.com/css2?family=Basic&family=Josefin+Slab:wght@500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --f-primary: 500 20px/30px 'Basic', sans-serif;
    --f-primary-bold: 700 20px/30px 'Basic', sans-serif;
    --f-secondary: 400 15px/18px 'Josefin Slab', serif;
    --c-accent: #9e5400;
    --filter-accent: invert(69%) sepia(42%) saturate(4731%) hue-rotate(1deg) brightness(96%) contrast(104%);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(175, 175, 175);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    z-index: 1;
}

header {
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 0.2rem solid black;
    outline: 10px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 7%;
    img {
        display: block;
        height: 90%;
        width: auto;
        cursor: pointer;
    }
    .genderBtn_container {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 90%;
        gap: 5%;
    }
    .header__cart {
        width: 50px;
        height: 50px;
        background-image: url("/src/assets/carrello_love_black.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 86%;
        padding: 8px;
        border-radius: 50%;
        border: 3px solid black;
        outline: 6px solid white;
        &:hover {
            cursor: pointer;
            border-color: var(--c-accent);
        }
    }
    .card_products {
        display: none;
    }
}

.gender_btn {
    width: 180px;
    height: 50px;
    border-radius: 8%/30%;
    border: 3px solid black;
    outline: 6px solid white;
    font: var(--f-secondary);
    color: rgb(59, 59, 59);
    font-size: 16px;
    background-color: white;
    transition: 0.3s;
    &:hover {
        cursor: pointer;
        border-color: var(--c-accent);
        color: black;
        font-weight: bold;
    }
}

.btn_pressed {
    font-weight: bold;
    font-size: 17px;
    color: black;
    border-color: var(--c-accent);
    box-shadow: inset 3px 3px 5px rgba(204, 137, 92, 0.2);
    // box-shadow: inset 2px 2px 5px 2px rgba(252, 175, 76, 0.7), inset -2px -2px 5px 2px rgba(252, 175, 76, 0.7);
    &:hover {
        cursor: default;
        border-color: var(--c-accent);
    }
}

.search_bar {
    width: 300px;
    border-radius: 8%/40%;
    height: 50px;
    border-radius: 8%/40%;
    border: 3px solid black;
    outline: 6px solid white;
    font: var(--f-secondary);
    color: rgb(59, 59, 59);
    font-size: 18px;
    padding: 10px;
    &:focus {
        border-color: var(--c-accent);
    }
}

main {
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 5%/3%;
    border: 0.2rem solid black;
    box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072);
    outline: 12px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    &:hover {
        cursor: pointer;
        border-color: var(--c-accent);
        transform: scale(1.02);
        .popolarity .valStar {
            filter: var(--filter-accent)
        }
    }
}

.hiddenID {
    display: none;
}

.card__image {
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: 5%;
    border: 2px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -30%;
    box-shadow: inset 4px 4px 8px 2px white, inset -4px -4px 8px 2px white;
}

.card__description {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font: var(--f-secondary)
}

.card li {
    list-style: none;
}

.popolarity {
    width: 180px;
    height: 20px;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
}

.popolarity img {
    width: 20px;
    height: 20px;
}

.card-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.modal-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.closeBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid black;
    outline: 8px solid white;
    position: absolute;
    z-index: 7;
    top: -25px;
    right: -25px;
    cursor: pointer;
    & img {
        display: block;
        width: 84%;
        height: 84%;
        margin: auto;
    }
    &:hover img {
        /*   filter: drop-shadow(3px 3px 3px #9e5400); */
        filter: invert(69%) sepia(42%) saturate(4731%) hue-rotate(1deg) brightness(96%) contrast(104%);
    }
    &:active {
        transform: scale(0.95);
    }
}

.card_modal {
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 6;
    display: flex;
    border-radius: 3%/5%;
    border: 0.2rem solid black;
    outline: 12px solid white;
    background-color: white;
    gap: 7%;
}

.card__image_modal {
    height: 100%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 4px 4px 8px 2px white, inset -4px -4px 8px 2px white;
    overflow: hidden;
    border-radius: 5%;
    border: 2px solid white;
}

.card__descr_modal {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10% auto;
    .descr_modal__title {
        font: var(--f-primary-bold);
        font-size: 32px;
        margin: 20% 0 auto 0;
    }
    .descr_modal__list {
        margin: auto 0 25% 0px;
        font: var(--f-secondary);
        font-size: 20px;
        .modal_list__item {
            list-style-type: none;
            margin-bottom: 20px;
        }
        .modal_list__item:last-of-type {
            margin-top: 40px;
        }
    }
}

.modal_popularity {
    position: absolute;
    z-index: 8;
    top: 86%;
    right: 15%;
    &:hover .valStar {
        filter: var(--filter-accent)
    }
}

.cart_btn {
    width: 32%;
    height: 50px;
    position: absolute;
    z-index: 7;
    top: 85%;
    left: 8%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10%/40%;
    border: 0.2rem solid black;
    outline: 6px solid rgba(255, 255, 255, 0.7);
    .cartSign__text {
        font: var(--f-secondary);
        font-size: 17px;
        position: relative;
        padding: 10px;
        padding-right: 12%;
    }
    .cartSign__image {
        display: block;
        width: 35px;
        height: 35px;
        margin: 10px;
    }
    &:hover {
        border-color: var(--c-accent);
        .cartSign__image {
            filter: var(--filter-accent)
        }
    }
    &:active {
        transform: scale(0.95);
    }
}