@import url('https://fonts.googleapis.com/css2?family=Basic&family=Josefin+Slab:wght@500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin btn-bordering {
    border: 3px solid black;
    outline: 6px solid white;
    background-color: white
}

:root {
    --f-primary: 500 20px/30px 'Basic', sans-serif;
    --f-primary-bold: 700 20px/30px 'Basic', sans-serif;
    --f-secondary: 400 15px/18px 'Josefin Slab', serif;
    --c-accent: #9e5400;
    --filter-accent: invert(69%) sepia(42%) saturate(4731%) hue-rotate(1deg) brightness(96%) contrast(104%);
}

body {
    width: 100vw;
    background-color: rgb(175, 175, 175);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}

header {
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 0.2rem solid black;
    outline: 10px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 7%;
    position: fixed;
    top: 0;
    z-index: 5;
    img {
        display: block;
        height: 90%;
        width: auto;
        cursor: pointer;
    }
    .genderBtn_container {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 90%;
        gap: 5%;
    }
    .header__cart {
        width: 50px;
        height: 50px;
        background-image: url("/src/assets/carrello_love_black.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 86%;
        padding: 8px;
        border-radius: 50%;
        border: 3px solid black;
        outline: 6px solid white;
        &:hover {
            cursor: pointer;
            border-color: var(--c-accent);
        }
    }
    .card_products {
        display: none;
    }
}

.gender_btn {
    width: 25%;
    height: 50px;
    @include btn-bordering;
    border-radius: 8%/30%;
    font: var(--f-secondary);
    color: rgb(59, 59, 59);
    font-size: 16px;
    transition: 0.3s;
    &:hover {
        cursor: pointer;
        border-color: var(--c-accent);
        color: black;
        font-weight: bold;
    }
}

.btn_pressed {
    font-weight: bold;
    font-size: 17px;
    color: black;
    border-color: var(--c-accent);
    box-shadow: inset 3px 3px 5px rgba(204, 137, 92, 0.2), inset -2px -2px 5px rgba(204, 137, 92, 0.12);
    // box-shadow: inset 2px 2px 5px 2px rgba(252, 175, 76, 0.7), inset -2px -2px 5px 2px rgba(252, 175, 76, 0.7);
    &:hover {
        cursor: default;
        border-color: var(--c-accent);
    }
}

.search_bar {
    width: 300px;
    border-radius: 8%/40%;
    height: 50px;
    border-radius: 8%/40%;
    border: 3px solid black;
    outline: 6px solid white;
    font: var(--f-secondary);
    color: rgb(59, 59, 59);
    font-size: 18px;
    padding: 10px;
    &:focus {
        border-color: var(--c-accent);
    }
}

main {
    margin-top: 110px;
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // align-items: center;
    position: relative;
}

.card {
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 5%/3%;
    border: 0.2rem solid black;
    box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.2), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072);
    outline: 12px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    &:hover {
        cursor: pointer;
        border-color: var(--c-accent);
        transform: scale(1.02);
        .popolarity .valStar {
            filter: var(--filter-accent)
        }
    }
}

.hiddenID {
    display: none;
}

.card__image {
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: 5%;
    border: 2px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -30%;
    box-shadow: inset 4px 4px 8px 2px white, inset -4px -4px 8px 2px white;
    transition: 0.3s;
}

.card__description {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font: var(--f-secondary)
}

.card li {
    list-style: none;
}

.popolarity {
    width: 180px;
    height: 20px;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
}

.popolarity img {
    width: 20px;
    height: 20px;
}

.card-container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.modal-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.closeBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid black;
    outline: 8px solid white;
    position: absolute;
    z-index: 7;
    top: -25px;
    right: -25px;
    cursor: pointer;
    & img {
        display: block;
        width: 84%;
        height: 84%;
        margin: auto;
    }
    &:hover img {
        /*   filter: drop-shadow(3px 3px 3px #9e5400); */
        filter: invert(69%) sepia(42%) saturate(4731%) hue-rotate(1deg) brightness(96%) contrast(104%);
    }
    &:active {
        transform: scale(0.95);
    }
}

.card_modal {
    width: 50%;
    height: 50%;
    position: relative;
    z-index: 6;
    display: flex;
    border-radius: 3%/5%;
    border: 0.2rem solid black;
    outline: 12px solid white;
    background-color: white;
    gap: 7%;
}

.card__image_modal {
    height: 100%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 4px 4px 8px 2px white, inset -4px -4px 8px 2px white;
    overflow: hidden;
    border-radius: 5%;
    border: 2px solid white;
}

.card__descr_modal {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10% auto;
    .descr_modal__title {
        font: var(--f-primary-bold);
        font-size: 32px;
        margin: 20% 0 auto 0;
    }
    .descr_modal__list {
        margin: auto 0 25% 0px;
        font: var(--f-secondary);
        font-size: 20px;
        .modal_list__item {
            list-style-type: none;
            margin-bottom: 20px;
        }
        .modal_list__item:last-of-type {
            margin-top: 40px;
        }
    }
}

.modal_popularity {
    position: absolute;
    z-index: 8;
    top: 86%;
    right: 15%;
    &:hover .valStar {
        filter: var(--filter-accent)
    }
}

.cart_btn {
    width: 32%;
    height: 50px;
    position: absolute;
    z-index: 7;
    top: 85%;
    left: 8%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10%/40%;
    border: 0.2rem solid black;
    outline: 6px solid rgba(255, 255, 255, 0.7);
    .cartSign__text {
        font: var(--f-secondary);
        font-size: 17px;
        position: relative;
        padding: 10px;
        padding-right: 12%;
    }
    .cartSign__image {
        display: block;
        width: 35px;
        height: 35px;
        margin: 10px;
    }
    &:hover {
        border-color: var(--c-accent);
        .cartSign__image {
            filter: var(--filter-accent)
        }
    }
    &:active {
        transform: scale(0.95);
    }
}

.filters_menu_container {
    width: 25%;
    position: fixed;
    top: 100px;
    // right: -25%;
    right: 0;
    z-index: 6;
    display: flex;
    transition: 0.6s;
}

.filters_open {
    width: 80px;
    height: 50px;
    @include btn-bordering;
    border-right: none;
    border-radius: 10%/20% 0 0 20%;
    position: absolute;
    z-index: 6;
    left: -80px;
    top: 50px;
    font: var(--f-primary);
    &:hover {
        border-color: var(--c-accent)
    }
    &:active {
        font-size: 18px;
    }
}


/* ==================================== filter menu ===================================== */

.filters_menu {
    width: 100%;
    height: 100vh;
    border-left: 0.2rem solid black;
    background-color: white;
    position: relative;
    top: 0;
    right: 0;
    z-index: 7;
}

.opened {
    top: 100px;
    right: 0;
}

.filters_menu__controls {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(179, 69, 19, 0.6), rgba(0, 0, 0, 0));
}

.apply_filters,
.clear_filters {
    width: 60%;
    border-radius: 8%/30%;
    font-size: 18px;
}

.fm_sort__title,
.fm_colors__title {
    font: var(--f-primary);
    font-size: 18px;
    align-self: center;
    margin: 10px;
}

.filters_menu__sort,
.filters_menu__sliders,
.filters_menu__colors {
    display: flex;
    flex-direction: column;
    // padding: 10px;
}

.fm_sort__wrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    gap: 6px;
    margin-bottom: 10px;
    margin-left: 20px;
    label {
        font: var(--f-secondary);
        color: black;
    }
    .sortRadio {
        /*  appearance: none; */
        width: 20px;
        height: 20px;
        border: 2px solid black;
        border-radius: 50%;
        accent-color: var(--c-accent);
    }
}

.checks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
}

.colors__checkbox {
    appearance: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 3px solid black;
    border-radius: 20%;
    display: grid;
    place-content: center;
    position: relative;
    //background-color: orange;
    &::before {
        content: "X";
        width: 25px;
        height: 25px;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        color: #ff8800;
    }
    &:hover {
        transform: scale(1.1); //------------add animation!
    }
    &:checked {
        transform: scale(1.2);
        outline: 1px solid var(--c-accent);
        box-shadow: 0 0 8px 1px #ff8800;
         ::before {
            transform: scale(1.1);
        }
    }
}

.filters_menu__additional {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.additionals {
    width: 45%;
    height: 40px;
    padding-left: 10px;
    border: 3px solid black;
    border-radius: 10%/30%;
    font: var(--f-secondary);
    font-size: 17px;
}

.additional__option {
    background-color: white;
    color: black;
    margin: 10px;
    font-size: 16px;
}

footer {
    width: 100%;
    height: 40px;
    //  padding: 5%;
    border-top: 0.2rem solid black;
    outline: 10px solid white;
    display: flex;
    align-items: center;
    align-self: flex-end;
    background-color: white;
    justify-content: space-around;
    .left_footer {
        height: 100%;
        display: flex;
        gap: 5px;
        align-items: center;
    }
    span,
    img {
        display: block;
        margin-top: 4px;
    }
    a {
        text-decoration: none;
        font: var(--f-primary);
        font-size: 18px;
        color: black;
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            transform: scale(0.9);
        }
    }
    img {
        width: 40px;
        height: 40px;
    }
}